<section class="user-info">
	<??!user.defaultAlias?>
	<form action="/user" method="post">
		<label for="defaultAlias">What's your name?</label>
		<input type="text" id="defaultAlias" name="defaultAlias" />
		<input type="submit" />
	</form>
	<?/??>
	<??user.defaultAlias?><?==user.defaultAlias?><?/??>
	<a href="/signout">Sign out</a>
</section>
