@import './reset';
@import './vars';

html {
	font-size: 62.5%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

[hidden] {
	display: none;
}
