<div class="main-container">
	<nav class="navigation">
		<h1>Poyke</h1>
		Customised home page
		<??groups?><?==groups?>
		<?/??>
	</nav>
	<div class="main"></div>
	<aside class="actions">
		<??userBox?><?==userBox?>
		<?/??>
		<??addGroupForm?><?==addGroupForm?>
		<?/??>
	</aside>
</div>
