<form action="/groups" method="POST" clas="group-add-form">
	<h4><?=strings.addGroupTitle?></h4>
	<input type="text" name="name" placeholder="name" />
	<input type="text" name="description" placeholder="description" />
	<button type="submit"><?=strings.submit?></button>
</form>
